:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff
}

/* Main Movie */
.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('../img/shooter.jpg');
    height: 400px;
    /* Imagem cobre o tamanho do container */
    background-size: cover;
    display: flex;
    /* Dispostos verticalmente */
    flex-direction: column;
    justify-content: center;
    /* Em column, os itens ficarão à esquerda */
    align-items: flex-start;
}

.main-movie .movie-description {
    margin-bottom: 40px;
}

.movie-title {
    font-size: 40px;
}